body {
  background-color: black;
  color: white;
}
.loginform {
    display: flex;
      justify-content: center;
      /* Center horizontally */
      align-items: center;
      /* Center vertically */
      height: 100vh;
}

.loginforminner {
  width: 50%;
    height: auto;
    border: 1px solid white;
    padding: 4rem;
    border-radius: 5%;
}
.ideaform {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100vh;
}

.ideaforminner {
  width: 50%;
  height: auto;
  border: 1px solid white;
  padding: 4rem;
  border-radius: 5%;
}

.loginreset-password {
  margin-left: auto;
  /* This will push the "Reset password" button to the right */
}
.loginbutton-group{
  display: flex;
  justify-content: space-between;
}

.staffdashmain{
  border: 1px solid white;
}